<p>
  <strong><%= User.find(comment.user_id).username%>:</strong>
  <%= comment.body %>
  <% if user_signed_in? && current_user.id == comment.user_id %>
    <%= link_to [comment.post, comment], method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
      <span class="icon"><i class='fa fa-trash'></i></span>
    <% end %>
  <% end %>
</p>
